/*  Styles override  */

body{
	padding: { /* Padding applied to indent content from under the navbar */
		top: 60px;
		bottom: 40px;
	}
	@media (max-width: 979px){
		padding-top: 0;
	}
}

/* Tweaked the padding-left of Select box text to align to input fields padding */
select{
	padding-left: 2px;
	/*option[value="0"]{
		color: #777;
	}*/
}

.navbar-fixed-top{ /* On resizing the screen the fixed navbar is wrongly repositioned */
	top: 0;
}

.input-append{
	position: relative;
	margin-bottom: 10px;
	input{
		border-radius: 4px;
	}
	button{
		position: absolute;
		right: 0%;
	}
}

/* TODO: The @media breaks grunt build 
@media screen and (max-width: 767px){
	input{
		&[class*='span']{
			display: block;
			width: 100%;
		}
	}
}
*/

/* END Styles override */

/* Main tabs .tabbable */

.tabbable{
	.nav.nav-tabs{
		li#tabSettings{
			float: right;
		}
	}
}

/* END Main tabs .tabbable */

/* #view-records */

#select-category{
	label{
		width: auto;
		padding-right: 15px;
	}
	.controls{
		margin-left: 0;
	}
}

#spendtable{
	.st-date{
		width: 15%; 
	}
	.st-title{
		width: 47%;
	}
	.st-category{
		width: 25%;
	}
	.st-amount{
		width: 13%;
	}
	table {
		thead tr th:last-child{
			text-align: right;
		}
		tbody tr td:last-child{
			text-align: right;
		}
	}
}

/* END #view-records */